* {
    box-sizing: border-box;

}

.container {
    width: 1136px;
    margin: auto;
    padding: 24px 0 35px;
    font-size: 14px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.containerCreate {
    margin-top: 20px;
    padding: 24px 220px 30px;
    background-color: #fff;
}

.containerDetails {
    margin-top: 20px;
    padding: 24px 220px 30px;
    background-color: #fff;
}

.warning {
    color: red;
}
 
.btnBack {
    background-color: #fff;
    border: none;
    color: black;
    padding: 4px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.26);
    margin-right: 6px;
}

.btnSave {
    background-color: #ee4d2d;
    border: none;
    color: white;
    padding: 4px 36px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;

}

.btnCreate {
    font-size: 14px;
    border-radius: 8px;
    min-width: unset;
    background: #ee4d2d;
    color: #fff;
    border-color: #ee4d2d;
    padding: 10px;
    text-decoration: none;
}

.right {
    text-align: right;
}

.tabContainer {
    background-color: #fff;
    height: 50px;
    padding: 0 5px;
}

.textOrange {
    font-weight: 700;
    font-size: 14px;
    padding: 15px;
    display: inline-block;
    line-height: 1.5;
    color: #ee4d2d;
}

.listShop {
    background: #fff;
    padding: 20px;
    margin-top: 12px;
}

.emtyList {
    background: #fff;
    text-align: center;
    margin-top: 15px;
    padding: 130px 0 170px;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    background-position: 50%;
    background-size: cover;
}

.carShop {
    display: flex;
    position: relative;
    padding: 0 20px 15px;
    margin-bottom: 15px;
    background: #fff;
}

.carShopBody {
    flex-grow: 1;
    overflow: hidden;
}

.carShopName {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.carShopNameText {
    max-width: 600px;
    margin-left: 5px;
    font-size: 19px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex: 1 1;
    color: rgba(0, 0, 0, .87);
}

.carShopInfor {
    display: flex;
    margin-bottom: 5px;
}

.carShopTitleText {
    font-size: 14px;
    padding-left: 10px;
    color: #656565;
}

.carShopAction {
    background-color: #ee4d2d;
    border: none;
    color: white;
    padding: 4px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    height: 32px;
}

.btn.btn-primary {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.icon{
    font-size: x-large;
    color: #ee4d2d;
    margin-right: 5px;
}

.img-details {
    height: 300px;
}

.text-body span {
    display: block;
    margin-bottom: 8px;
}

.col span {
    margin-bottom: 8px;
}

.text-details {
    font-size: 14px;
    font-weight: 800;
}

.mrBotton {
    margin-right: 10px;
}