.container-for {
   margin-top: 96px;
   width: 94%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   background-color: white;

}

* {
   font-family: 'Arial';
}

.div1 {
   width: 63%;
   height: 100%;
   background-color: white;
   margin-right: 2%;
   border-radius: 5px;
   margin-bottom: 30px;
}

.div2 {
   width: 33%;
   height: 100%;
   background-color: white;
   margin-left: 2%;
   border-radius: 5px;
   box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.5);

}

.div3 {
   font-size: 28px;
   height: 82px;
   display: flex;
   align-items: center;
   padding: 0 42px;
   box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.5);
   border-radius: 5px;
}

.div4 {

   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 10px;
   grid-template-columns: 1fr 1fr
}

.itemG {
   background-color: white;
   margin-left: 22px;
   margin-top: 4px;
   margin-bottom: 35px;
   margin-right: 20px;
   height: auto;
   border-radius: 5px;
   border: 1px solid rgba(128, 128, 128, 0.5);
   box-shadow: 1px 3px 1px 1px rgba(128, 128, 128, 0.5);
   display: flex;
   justify-content: space-between;

}

.itemB {
   background-color: white;
   margin-left: 22px;
   margin-top: 4px;
   margin-bottom: 35px;
   margin-right: 20px;
   height: auto;
   border-radius: 5px;
   border: 1px solid rgba(128, 128, 128, 0.5);
   box-shadow: 1px 3px 1px 1px rgba(128, 128, 128, 0.5);
   display: flex;
   justify-content: space-between;

}

.button-eidt-b {
   background-color: rgb(54, 75, 54);
   width: 83%;
   margin-top: 28%;
   margin-right: 20px;
   border-radius: 7px;
   margin-bottom: 10%;
   height: 36px;
   border: 0;
   color: aliceblue;

}

.The-text {
   font-size: 28px;
   width: 100%;
   margin-top: 10px;
   margin-left: 40px;
}

.div5 {
   border-radius: 5px;
   margin-top: 10px;
   height: auto;
   background-color: white;
   box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.5);
}

.itemG.selected {
   border-color: #7a848d;
   /* Màu viền khi chọn */
   box-shadow: 5px 5px 5px 5px rgba(12, 66, 21, 0.5);
}

.div-icon {
   align-content: center;
   font-size: 300%;
   width: 30%;
   margin-top: 35px;
   margin-left: 5%;
   margin-right: 1%;
}

.div-text-in {
   margin-top: 35px;
   margin-right: 20px;
   width: 100%;
}

.div-NameAddress {
   font-size: 21px;
}

.div-text-in-text {
   margin-top: 2px;
}

.button-eidt {
   background-color: rgb(123, 189, 123);
   width: 83%;
   margin-top: 11%;
   margin-right: 20px;
   border-radius: 7px;
   margin-bottom: 10%;
   height: 36px;
   border: 0;
   color: aliceblue;
}

.button-eidt:hover {
   background-color: gray;
}

.div6 {
   background-color: white;
   justify-content: center;
   box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.5);
   margin-top: 5%;
   margin-bottom: 20px;
   border-radius: 12px;
   height: 500px;

}

.little-text {
   font-size: 19px;
   width: 100%;

   margin-left: 40px;
   color: gray;
}

.div7 {
   display: flex;
   border-radius: 12px;
   margin-top: 10px;
   width: 93%;
   height: auto;
   background-color: white;
   margin-bottom: 20px;
   margin-left: 40px;
}

.div8 {
   margin-bottom: 55px;
   background-color: rgb(245, 239, 239);
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.color {
   margin-bottom: 55px;
   background-color: white;
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.div-iconic {
   font-size: 50px;
}

.text-cutevl {

   font-size: 19px;
   width: 100%;
   margin-left: 23px;
}

.div9 {
   width: 30%;
   margin-left: 37px;
}

.div10 {
   width: 70%;
   background-color: rgb(245, 239, 239);
}

.label-hihi {
   margin-left: 20px;
   width: 100%;
   font-size: 18px;
   margin-top: 10px;
}

.label-hihi-text {
   margin-left: 20px;
   width: 90%;
   font-size: 18px;
   margin-top: 10px;
   height: 150px;
   border-radius: 6px;
}

.button-verysiu {
   width: 90%;
   margin-left: 20px;
   margin-top: 20px;
   height: 50px;
   /* background-color: #62b762;; */
   border-radius: 12px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal-content {
   background: white;
   padding: 20px;
   border-radius: 5px;
   width: 600px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content input {
   display: block;
   width: calc(100% - 20px);
   margin: 10px 10px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.modal-content button {
   margin: -20px 10px;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
  width: 100px;
}

.modal-content button:nth-child(4) {
   background: #28a745;
   color: white;
   width: 538px;
}

.modal-content button:nth-child(5) {
   background: #dc3545;
   color: white;
   width: 538px;
}
.exit-icon {
   font-size: 25px;
}

.edit-icon {

   font-size: 25px;
   position: relative;
   bottom: 100px;


}