

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  margin-top: -25px;
  td, th {
    vertical-align: middle;
    
  }
}
.table-image td,
.table-image th {
    text-align: center; /* Căn giữa nội dung trong các ô */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
.pagination .page-link {
  background-color: #ee4d2d;
  border-color: #ee4d2d;
  color: #fff; /* Màu chữ */
}
 
.pagination .page-link:hover {
  background-color: #ff6f52;
  border-color: #ff6f52;
}

.pagination .page-item.active .page-link {
  background-color: #ff6f52;
  border-color: #ff6f52;
}
