.now-banner.ver_vi {
  background-size: cover;
  background-repeat: no-repeat; /* Ngăn hình ảnh lặp lại */
  overflow: hidden;
  min-height: 100vh; /* Chiều cao tối thiểu là toàn màn hình */
  position: relative;
  z-index: 0;
  height: 1000px;
}
.container-hiha{
 width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: relative;
}
.now-search{
  color: #fff;
  width: 470px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  margin-top: -30px;
}
.local{
    font-size: 15px;
  text-transform: capitalize;
}
.form-search{
  padding: 27px 0 40px;
  position: relative;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: -5.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #464646;
  text-align: left;
}
.input-group{
    position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.icon-search{
    width: 25px;
  height: 25px;
  background-position: -14px -15px;
  color: white;
}
.txtSearchHome{
  width: 100%;
  padding-right: 75px;
  padding-left: 10px;
  height: 50px;
  border: 0;
  border-radius: 6px 10px 10px 6px;
}
.ahaha{
  color: #0288d1;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

}
.category-list-filter{
  box-sizing: border-box;
}
.category-item{
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 21px;
  border-radius: 6px;
  border: 1px solid;
  display: inline-block;
  transition: all .3s ease;
}
.haha{
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #0288d1;
  text-decoration: none;
  background-color: transparent;
}
.font18 {
  margin-top: 1rem !important;
  margin-bottom: .5rem !important;
  font-size: 1.140rem !important;
  color: #fff;
}
.title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.mybutton{
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0 5px 5px 0px;
  height: 50px;

  width: 70px;
  background-color: #0288d1;
  white-space: nowrap;
  border: 1px solid #0288d1;
}
.icon-app-store-big{
  background-position: -422px -387px;
  width: 219px;
  height: 68px;
  display: inline-block;
  transform: scale(.75);
  transform-origin: left;
  margin-right: -40px;
}
.icon-gg-play-big{
  display: inline-block;
  transform: scale(.75);
  transform-origin: left;
  margin-right: -40px;
  background-position: -367px -466px;
  width: 219px;
  height: 68px;
}
.main-right-home{
  float: right;
  width: 670px;
  margin-top: 100px;
  position: relative;
  z-index: auto;
  margin-bottom: 75px;
  min-height: calc(100vh - 123px);
  overflow: scroll;
}
.user-get-local{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 14px 17px 14px 40px;
  border-radius: 4px;
}
.txt-blue{color: #0288d1 !important;}
.txt-bold{font-weight: 700 !important;}
.ml-2, .mx-2 {
  margin-left: .5rem !important;
}
.font12 {
  font-size: .75rem !important;
}
.txt-gray-7 {
  color: #6d6f71 !important;
}
.fa, .fas {
  font-weight: 900;
}
.fa-long-arrow-alt-right::before {
  content: "\f30b";}
  .no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .pl-2, .px-2 {
    padding-left: .5rem !important;
  }
  .pr-2, .px-2 {
    padding-right: .5rem !important;
  }
  .txt-elipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 0;
  }
.txt-gray-7{
  color: #6d6f71 !important;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.now-list-restaurant{
  padding: 13px 40px 738px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
}
  .title1{
    font-size: 16px;
  font-weight: 700;
  margin-bottom: .5rem;
  font-family: inherit;

  line-height: 1.2;
  color: inherit;
  }
  .title-wrapper{
    display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  }
  .list-restaurant{
    display: block;
  clear: both;
  content: "";
  margin: 0 -8px;
  position: relative;
  }
  .item-restaurants{
  padding: 8px;
  width: 33.33333%;
  float: left;
  }
 
  .item-content{
    cursor: pointer;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  display: block;
  }
  .img-restaurant{
  height: 116px;
  position: relative;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  background: #eaeaea;
}
.info-restaurant{
  border: 1px solid #d7d7d7;
  border-radius: 0 0 6px 6px;
  height: 84px;
}
.info-basic-ress{
  padding: 5px 8px;
  border-bottom: 1px solid #ebebeb;
}
.name-ress{
  margin-top: 0;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 700;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
  padding-top: 5px;
}
.address-res{
  font-size: 12px;
  color: #959595;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-promotionss{
  font-size: 13px;
  color: #187caa;
  font-weight: 700;
  padding: 8px 8px 5px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.opentime-statuss{
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 171px;
  bottom: 210px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}
.stt{
  color: rgb(35, 152, 57);
  background-color: rgb(35, 152, 57);
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  z-index: 2;
}
.img-small{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.now-idea-searching{
  margin-top: -424px;
  padding-top: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9;
}
.now-list-restaurant-row{
  padding-bottom: 0;
  background-color: #fff;
}
.item-restaurantcc{
  width: 100%;
  color: #fff;
}
.item-contentcc{
  padding: 10px;

  cursor: pointer;
  position: relative;
  display: block;
  color: #0288d1;
  text-decoration: none;
  background-color: transparent;
}
.img-smallcc{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-style: none;
}
.img-restaurantcc{width: 50px;
  height: 30px;
  float: left;
  overflow: hidden;
  margin-top: 3px;
}
.info-restaurantcc{
  border-radius: 0 0 6px 6px;
  height: 36px;
  margin-left: 53px;
}
.name-ressc{
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -14px;
  padding: 0;
  color: #252525;
  margin-bottom: 5px;
}
.address-rescc{
  font-size: 12px;
  color: #959595;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}